@import "./common_variable";

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $var-color;
  height: 60px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.menu_item {
  text-align: center;
  width: 100%;
  line-height: 100%;
  padding: 0;

  &_icon{
    color: $font-color;
    font-size: 1.8em;
  }

  &_title{
    color: $font-color;
    margin-top: 3px;
    font-size: 0.5em;
  }
}

.menu_link {
  width: 100%;
}
