@import "./common_variable";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  background-color: $var-color;
  height: 60px;
}

.title {
  &:first-child {
    margin-right: auto;
  }
}

.title_name {
  display: inline;
  color: $font-color;
  letter-spacing: -2px;
  &:first-child {
    margin-right: auto;
  }
}

.title_icon {
  display: inline;
  color: #ff0000;
  font-size: 2em;
}

.menu {
  display: flex;
}

.menu_icon {
  color: $font-color;
  font-size: 1.3em;
  margin: 10px 10px 10px 10px;
}

.profile_img {
  width: 30px;
  height: 30px;
  margin: auto 10px auto 10px;
  border-radius: 50%;
  background-color: #ffffff;
}
