@import './common_variable';

.detail {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}

.profile_icon {
  width: 40px;
  height: 40px;
  margin: 0 10px auto 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

.info {
  display: inline-block;
}

.item_title {
  color: $font-color;
  font-weight: normal;
  margin: 0 auto 0 auto;
}

.item_info {
  color: #808080;
  font-size: 0.8em;
  margin-top: 0;
}

.para {
  margin-top: 0;
}
